
/* Tablet Landscape max-width: 1200px */
@media only screen and (max-width: 75em) {
    
} 


/* Tablet Portrait max-width: 900px */
@media only screen and (max-width: 56.25em) {
    html {font-size: 50%;}
    .heading-sub {
        color: red;}

}
@media only screen and (max-width: 900px) {
    html {font-size: 50%;}
    .heading-sub {
        color: red;}

}
/*Small Phones max-width: 600px */
@media only screen and (max-width: 37.5em) {}



/*Small Phones max-width: 480px */
@media only screen and (max-width: 30em) {}