
// $color-primary:#8982db;
// $color-primary-light:#b6afec ;
// $color-primary-dark: #4d40b2;
// $color-white: #fff;
// $color-gray: #555;



$color-primary:#9FDAF9;
$color-primary-dark: #6ACCFF;
$color-primary-light: #F4FBFF;
$color-white: #fff;
$color-gray: #707070;
$color-green: #83d500;