.section-enterKey {
    height: 30vh;
    
}

.enterKey__box {
    height: 4.5rem;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;

}

.enterKey__key {
    height: 100%;
    width: 40rem;
    border: solid 1px rgba($color-gray,0.1);
    padding-left: 1.5rem;
    font-size: 1.5rem;
    color: $color-gray;
    @include respond(tab-port){
        width: 62vw;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 1.5rem;
        font-family: 'Quicksand', sans-serif;
        color: rgba($color-gray,0.5);
    }

    &:focus {
        outline: none;
        border-bottom: solid 2px $color-primary;
    }
}

.enterKey__submit {
    height: 100%;
    letter-spacing: 0.05rem;
}

.status {
    text-align: center;
    font-size: 90%;

}